<a href="https://colab.research.google.com/github/kennybeeutomo/scientific-computing-lab/blob/main/sc_sesi_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import time

In [ ]:
print(time.ctime())

Thu Feb  6 04:45:13 2025

In [ ]:
x = 10
y = 'Kenny'
z = ["Kenny", "Bee", "Utomo"]
x, y, z

(10, 'Kenny', ['Kenny', 'Bee', 'Utomo'])

In [ ]:
a = int(1)
b = int(2.3)
c = int("42")
d = str(56)

a, b, c, d

(1, 2, 42, '56')

In [ ]:
p = "Kenny"
q = " Bee"
pq = p + q

pq

'Kenny Bee'

In [ ]:
t = "abcdefghijk"
print(t[3])
print(len(t))

d
11

In [ ]:
str = "BINUS University"

print(str[3:])
print(str[3:10])
print(str[:3])
print(str[1:17:2])

US University
US Univ
BIN
IU nvriy

In [ ]:
str2 = "Hello"
print(str2.upper())
print(str2.lower())
print(str2.replace("H", "T"))

HELLO
ell
Tello

In [ ]:
fmt = "Nama saya {} umur {}"

nama = "Kenny"
umur = 18

print(fmt.format(nama, umur))

Nama saya Kenny umur 18

In [ ]:
fn = "Kenny Bee Utomo"
for i in enumerate(fn):
    print(i)

(0, 'K')
(1, 'e')
(2, 'n')
(3, 'n')
(4, 'y')
(5, ' ')
(6, 'B')
(7, 'e')
(8, 'e')
(9, ' ')
(10, 'U')
(11, 't')
(12, 'o')
(13, 'm')
(14, 'o')

In [ ]:
def perbandingan(a, b):
    if a > b:
        print("a lebih besar dari b")
    elif a < b:
        print("a lebih kecil dari b")
    else:
        print("a sama dengan b")

In [ ]:
perbandingan(4, 10)
perbandingan(8, 2)
perbandingan(7, 7)

a lebih kecil dari b
a lebih besar dari b
a sama dengan b

In [ ]:
i = 0
while i < 10:
    print(i)
    i += 1

0
1
2
3
4
5
6
7
8
9

In [ ]:
for i in range(0, 10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
def genap(x):
    if x % 2 == 0:
        return "Genap"
    else:
        return "Ganjil"

In [ ]:
for i in range(0, 10):
    print(i, "itu", genap(i))

0 itu Genap
1 itu Ganjil
2 itu Genap
3 itu Ganjil
4 itu Genap
5 itu Ganjil
6 itu Genap
7 itu Ganjil
8 itu Genap
9 itu Ganjil

In [ ]:
import numpy as np

In [ ]:
mtx1 = np.array([[1, 9, 0],
                 [3, 4, 2],
                 [5, 6, 8]])

mtx2 = np.array([[7, 1, 2],
                 [0, 2, 5],
                 [7, 8, 3]])

mtx1 * mtx2

array([[ 7,  9,  0],
       [ 0,  8, 10],
       [35, 48, 24]])

In [ ]:
xs = np.array([1, 4, 9, 0, 3, 2, 5, 7, 6, 8])
print("Mean:\t", xs.mean())
print("STD:\t", xs.std())
print("Min:\t", xs.min())
print("Max:\t", xs.max())

Mean:	 4.5
STD:	 2.8722813232690143
Min:	 0
Max:	 9

# TUGAS MODUL
---

In [25]:
def calculate(uas, uts, asg):
    return uas * 0.5 + uts * 0.3 + asg * 0.2

def antara(x, min, max):
    return x >= min and x <= max

def grading(total):
    if antara(total, 90, 100):
        return "A"
    elif antara(total, 85, 89):
        return "A-"
    elif antara(total, 80, 84):
        return "B+"
    elif antara(total, 75, 89):
        return "B"
    elif antara(total, 70, 89):
        return "B-"
    elif antara(total, 65, 89):
        return "C"
    elif antara(total, 60, 89):
        return "D"
    elif antara(total, 11, 89):
        return "E"
    else:
        return "F"

def inputPassword():
    password = input("Masukkan password Anda : ")

    if password != "Admin123":
        print("Password salah")
        inputPassword()

def inputNilai(kategori):
    try:
        nilai = float(input("Masukkan nilai " + kategori + " : "))
    except ValueError:
        print("Invalid nilai! Harus float")
        return inputNilai(kategori)

    if (not antara(nilai, 0, 100)):
        print("Invalid nilai! Harus antara 0-100")
        return inputNilai(kategori)

    return float(nilai)

In [29]:
nama = input("Masukkan username Anda : ")
inputPassword()

print("Login berhasil! Selamat datang", nama)
print()

namaSiswa = input("Masukkan nama siswa : ")
uas = inputNilai("UAS")
uts = inputNilai("UTS")
asg = inputNilai("Assignment")
print()

score = calculate(uas, uts, asg)
grade = grading(score)

print("============================================")
print("Hasil perolehan nilai", namaSiswa)
print("Final score:", score)
print("Grade", grade)

Masukkan username Anda : Allie
Masukkan password Anda : Admin123
Login berhasil! Selamat datang Allie

Masukkan nama siswa : Reynard
Masukkan nilai UAS : 78
Masukkan nilai UTS : 100
Masukkan nilai Assignment : 98

========================
Hasil perolehan nilai Reynard
Final score: 88.6
Grade A-